body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0 auto;
    max-width: 950px;
    line-height: 1.5;
    padding-top: 32px;
    padding-bottom: 32px;
}


/*FIXED плохо, ты по сути вообще каждую картинку сдвинул на 50px вниз, правильно сделать .avatar класс например*/
.avatar {
    margin-top: 50px;
    width: 300px;
    height: 300px;
    /*FIXED можно 150px -> 50%*/
    border-radius: 50%;
    box-shadow: 3px 3px 15px 10px #808080;
}

.box {
    justify-content: space-between;
    display: flex;
    margin-bottom: 5px;
}

.title-box {
    width: 30%;
    background-color: #DAEEF3;
    margin-right: 20px;
    text-decoration: underline;
}

.description-box {
    width: 70%;
    margin-bottom: 5px;
}

.experience-table {
    border-collapse: separate;
    border-spacing: 10px 0;
    margin-left: -10px;
    margin-bottom: 5px;
}

.table-title-box {    
    width: 30%;
    background-color: #DAEEF3;
    text-decoration: underline;
    vertical-align: unset;
}

.table-description-box {
    width: 70%;
    margin-bottom: -100px;
    padding-left: 10px;
}

.italic {
    font-style: italic;
}

/*FIXED всё что ниже сильно противоречит БЭМ, ты сейчас задаешь всем тегам свойства, надо же задавать отдельным классам, иначе у тебя */
/*движок браузера будет делать много лишней работы + придётся переписывать этот код всякий раз когда на сайте*/
/*понадобится заголовок h3, но при этом с другими стилями, это делается через .desc, .heading, .heading--primary и т.д.*/


.full-name {
    font-weight: 600;
    font-size: 32px;
    border-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-color: #31849B;
    margin-bottom: -20px;
}

.profession {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 0px;
}

.position {
    font-weight: 600;
    font-size: 24px;
    color: #3d3d3d;
    margin-bottom: 20px;
}

.title-box-text {
    text-align: right;
    font-weight: 400;
    margin-right: 20px;
}

.company-name {
    font-weight: 600;
    color: #31849D;
    margin-bottom: -20px;
}

.profession-duty {
    margin-top: 0px;
    margin-bottom: -15px;
}

.header {
    margin-bottom: 10px;
}

.footer {
    text-align: center;
    margin-top: 32px;
}

.list-padding {
    margin-bottom: 5px;
}

.table-list-padding {
    margin-bottom: -5px;
}
