:root {
    --font-family: "Open Sans", sans-serif;
    --header-bg-color: #193A59;
    --header-info-font-family: "Open Sans", sans-serif;
    --header-info-text-color: #ECEDF3;
    --header-info-bg-color: #2F5A87;
    --header-info-dot-filled: #ECEDF3;
    --header-info-dot-unfilled: rgba(166, 227, 220, 0.41);
    --main-group-header-border-color: #202020;
    --main-group-header-text-color: #202020;
    --main-group-body-text-color: #202020;
    --experience-company-text-color: #3D3D3D;
    --main-background-color: #EFEFEF;
    --secondary-background-color: #DADADA;
    --primary-color: #28D979;
    --primary-hover-color: #1f9d62;
    --secondary-color: #5C5C5C;
    --secondary-hover-color: #3D3D3D;
    --text-color: #FFFFFF;
}

html {
    font-size: 16px;

    h1, p, a {
        margin: 0;
    }
}

body {
    font-family: var(--font-family), sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--main-background-color);
}

.cv {
    display: none;
    background-color: var(--main-background-color);
    max-width: 1200px;
    margin: 0 auto;
}

.cv__header {
    display: flex;
    align-items: stretch;
    background: var(--header-bg-color);
}

.cv__avatar {
    flex: 0 0 auto;
    padding: 20px;
    min-width: 120px;
    max-width: 200px;
    display: flex;
    align-items: stretch;
    overflow: hidden;
    border-radius: 8px;

    img {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        object-fit: cover;
    }
}

.header-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--header-info-text-color);
}

.header-info__main {
    height: 100%;
    padding: 20px;
    background-color: var(--header-info-bg-color);
}

.contact-info__name {
    font-size: 2.5rem;
    margin-bottom: 16px;
}

.contact-info__additional {
    display: flex;
    justify-content: stretch;
    gap: 16px;
}

.contact-info-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact-info-group__title {
    font-weight: bold;
}

.contacts {
    display: flex;
    flex-direction: column;

    .contacts__item {
        display: flex;
        align-items: center;
    }

    .contacts__item--title {
        min-width: 90px;
        font-weight: bold;
    }

    .contacts__item--link {
        font-size: 1rem;
        line-height: 150%;
        color: var(--header-info-text-color);
    }

    .contacts__item--link:visited, .contacts__item--link:hover {
        color: var(--header-info-text-color);
    }
}

.languages {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.languages__title {
    font-weight: bold;
}

.languages__items {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .language-item {
        display: flex;
        justify-content: space-between;
    }

    .language-info {
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .language-name {
        min-width: 90px;
        font-weight: bold;
    }

    .language-dots {
        display: flex;
        gap: 5px;

        .dot {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            display: inline-block;
        }

        .dot--filled {
            background-color: var(--header-info-dot-filled);
        }

        .dot--unfilled {
            background: var(--header-info-dot-unfilled);
        }
    }

    .language-level {
        font-size: 0.8rem;
        margin-top: 4px;
        text-align: end;
    }
}


.header-info__role {
    display: block;
    padding: 12px 20px;
    color: var(--header-info-text-color);
    font-size: 2rem;
    font-weight: bolder;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}


.cv__main {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 0;
}

.main-group {
    display: flex;
    flex-direction: column;

    .main-group__header {
        display: flex;
        flex-direction: column;
        margin: 0 16px;
        border-bottom: 2px solid var(--main-group-header-border-color);
        font-size: 2rem;
        font-weight: bold;
        color: var(--main-group-header-text-color);
    }

    .main-group__body {
        display: flex;
        flex-direction: column;
        padding: 16px 0;
    }

    .main-group__body > :nth-child(even) :first-child {
        background-color: var(--secondary-background-color);
    }

}

.cv-experience {
    display: flex;
    padding: 8px 16px;
    gap: 16px;

    .cv-experience__info {
        flex: 0 0 30%;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .cv-experience__date {
        font-weight: bold;
    }

    .cv-experience__title {
        font-size: 1.4rem;
        font-weight: 600;
    }

    .cv-experience__company {
        font-size: 1.2rem;
        font-weight: 600;
        font-style: italic;
        color: var(--experience-company-text-color);
    }

    .cv-experience__body {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .cv-experience__details {
        margin: 0;
        padding-left: 1rem;
    }

    .cv-experience__used-technologies {
        font-size: 1.1rem;

        .cv-experience__used-technologies-title {
            font-weight: 600;
        }

        .cv-experience__used-technologies-body {
            font-style: italic;
        }
    }
}

.cv-education {
    display: flex;
    padding: 8px 16px;
    gap: 16px;

    .cv-education__info {
        flex: 0 0 30%;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .cv-education__date {
        font-weight: bold;
    }

    .cv-education__title {
        font-size: 1.4rem;
        font-weight: 600;
    }

    .cv-education__company {
        font-size: 1.2rem;
        font-weight: 600;
        font-style: italic;
        color: var(--experience-company-text-color);
    }

    .cv-education__body {
        flex: 1;
        flex-direction: column;
        display: flex;
        gap: 8px;
    }

    .cv-education__details {
        margin: 0;
        padding-left: 1rem;
    }

    .cv-education__tags {
        font-size: 1.1rem;

        .cv-education__tags-title {
            font-weight: 600;
        }

        .cv-education__tags-body {
            font-style: italic;
        }
    }
}

.interests {
    display: flex;
    flex-wrap: wrap;
    padding: 8px 16px;
    gap: 8px;

    .interests__tag {
        display: inline-block;
        background-color: var(--header-bg-color);
        color: var(--header-info-text-color);
        font-size: 0.9rem;
        font-weight: bold;
        padding: 8px 16px;
        text-align: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
}

.certificates {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 16px;

    .certificate {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 15px;
        width: 220px;

        .certificate__image {
            width: 200px;
            height: auto;
            border: 2px solid #ddd;
            border-radius: 8px;
            transition: transform 0.3s;
        }

        .certificate__image:hover {
            transform: scale(1.05);
            border-color: #007bff;
        }

        .certificate__name {
            text-align: center;
        }
    }
}

.cv__footer {
    display: flex;
    gap: 16px;
    justify-content: space-around;
    padding: 8px 16px;
    color: var(--header-info-text-color);
    background-color: var(--header-info-bg-color);
}

.copyright {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: end;
}










.resume {
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "header header languages languages"
        "experience experience experience tools"
        "education education interests interests"
        "education education contact contact";
    grid-gap: 20px;
    min-width: 360px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.resume--download {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
            "header header header"
            "languages languages tools"
            "experience experience tools"
            "education education interests"
            "contact contact contact";
}

.header {
    grid-area: header;
    display: flex;
    gap: 20px;
}

.header__profile-pic {
    flex: 0 0 auto;
    border-radius: 16px;
    width: 200px;
    object-fit: cover;
    background-color: var(--main-background-color);
}

.header__text {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 24px;
    border-radius: 16px;
    background-color: var(--main-background-color);
    overflow: hidden;
}

.header__greeting {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    white-space: nowrap;
    margin-bottom: 8px;
}

.header__title {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 6px;
    margin-top: auto;
}

.header__title--name {
    font-weight: 800;
    font-size: 30px;
    line-height: 104%;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.header__title--reset {
    height: 0;
    width: 100%;
    background-color: var(--secondary-color);
    font-size: 16px;
    color: white;
    border: none;
    margin-top: 0;
    padding: 0;
    cursor: pointer;
    border-radius: 8px;
    transform: scale(0);
    transition: padding 0.3s ease-in-out, margin-top 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.header__title--reset.visible {
    padding: 4px 20px;
    margin-top: 8px;
    height: initial;
    transform: scale(1);
}

.header__title--reset:hover {
    background-color: var(--secondary-hover-color);
}


.header__title--download {
    width: 100%;
    background-color: var(--primary-color);
    font-size: 16px;
    color: white;
    border: none;
    margin-top: 8px;
    padding: 4px 20px;
    cursor: pointer;
    border-radius: 8px;
}

.header__title--download:hover {
    background-color: var(--primary-hover-color);
}

.widget {
    overflow: hidden;
    padding: 24px;
    background-color: var(--main-background-color);
    border-radius: 16px;
}

.widget__title {
    width: fit-content;
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
    margin: 0;
}

.header__title--occupation {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    margin: 0;
    color: var(--secondary-color);
}


.widget--languages {
    grid-area: languages;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.languages-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.language {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.language__name {
    display: block;
    width: 100px;
    margin-right: 8px;
    font-size: 16px;
    line-height: 104%;
    font-weight: 600;
}

.language__level {
    flex: 1;
    background-color: #e0e0e0;
    border-radius: 3px;
    overflow: hidden;
    height: 20px;
}

.language__progress {
    background-color: var(--primary-color);
    height: 100%;
}

.widget--experience {
    grid-area: experience;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.experiences-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.experience {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #f9f9f9;
    border-radius: 12px;
    padding: 24px;
    border: 1px solid #e0e0e0;
    page-break-inside: avoid;
}

.experience--recent {
    background-color: var(--primary-color) !important;
    color: var(--text-color) !important;
}

.experience--recent .experience__info--company {
    color: #EBF9F2 !important;
}

.experience__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.experience__header--date {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
}

.experience__header--tag {
    background-color: rgba(126, 115, 18, 0.4);
    color: #DDF163;
    font-size: 16px;
    line-height: 155%;
    padding: 2px 8px;
    border-radius: 59px;
}

.experience__body {
    display: flex;
    gap: 8px;
}

.experience__info {
    display: flex;
    flex-direction: column;
    width: 124px;
    min-width: 250px;
}

.experience__details {
    font-size: 16px;
    line-height: 150%;
    margin: 0;
    padding: 0;
}

.experience__info--title {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    margin: 0;
}

.experience__info--company {
    width: 112px;
    font-weight: 600;
    font-size: 16px;
    font-style: italic;
    line-height: 150%;
    color: var(--secondary-hover-color);
    margin: 0;
}

.widget--tools {
    grid-area: tools;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.tools-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.tools {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 8px;
    padding: 24px 16px 16px 16px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    page-break-inside: avoid;
}

.tools--download {
   page-break-inside: avoid;
}

.tools__title {
    text-align: center;
    align-content: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 14px;
    font-weight: 600;
    background-color: #000;
    color: #fff;
    margin-top: 0;
    padding: 4px 8px;
    border-radius: 12px;
    text-transform: uppercase;
}

.tools__icons {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
}

.tools__icon {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.tools__icon--image {
    width: 60px;
    height: 60px;
}

.tools__icon--label {
    margin-top: 8px;
    font-size: 14px;
    font-weight: 600;
    color: #333333;
    text-align: center;
}

.widget--education {
    grid-area: education;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.educations-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
}

.education {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    page-break-inside: avoid;
}

.education--favorite {
    background-color: var(--primary-color);
    color: #fff;
}

.education__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.education__header--date {
    font-weight: 600;
    font-size: 14px;
}

.education__header--favorite {
    font-size: 14px;
    color: #FFD700;
}

.education__title {
    font-weight: 600;
    font-size: 16px;
    margin: 0 0 8px 0;
}

.education__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-bottom: 8px;
}

.education__tags--tag {
    font-size: 14px;
    color: var(--secondary-color);
}

.education--favorite .education__tags--tag {
    color: #EBF9F2;
}

.education__institution {
    margin-top: auto;
    font-size: 14px;
    font-weight: 600;
}

.widget--interests {
    grid-area: interests;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.interests {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    page-break-inside: avoid;
}

.interests__tag {
    padding: 8px 16px;
    background-color: #fff;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.footer {
    grid-area: contact;
    display: flex;
    gap: 16px;
    flex-direction: column;
    padding: 20px;
    background-color: #000000;
    border-radius: 16px;
}

.footer__title {
    color: var(--text-color);
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
    margin: 0;
}

.contacts-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contacts__item {
    color: var(--text-color);
    font-size: 16px;
    line-height: 150%;
    margin: 0;
}

.contacts__item--link {
    color: #cecece;
    font-size: 16px;
    line-height: 150%;
    margin: 0;
}

.contacts__item--link:visited {
    color: #cecece;
}

.contacts__item--link:hover {
    color: #fff;
}

.contacts__item--link:visited:hover {
    color: #fff;
}

.ripple-effect {
    position: relative;
    overflow: hidden;
}

.ripple-effect--span {
    position: absolute;
    border-radius: 50%;
    pointer-events: none;

    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;

    animation: ripple 1s;
    opacity: 0;
}

[contenteditable] {
    outline-offset: 0;
    transition: outline-offset 0.3s ease, transform 0.3s ease;
}

[contenteditable]:focus {
    outline: 1px dashed var(--secondary-color);
    outline-offset: 4px;
    transform: scale(1.1);
}

@keyframes ripple {
    from {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.1);
        transform: scale(0);
    }

    to {
        opacity: 0;
        background-color: rgba(0, 0, 0, 0);
        transform: scale(5);
    }
}

@media (max-width: 1000px) {
    .resume {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "header header header"
            "languages languages tools"
            "experience experience tools"
            "education education interests"
            "contact contact contact";
    }

    .experience__body {
        flex-direction: column;
    }

    .experience__details {
        padding-left: 16px;
    }
}

@media (max-width: 800px) {
    .resume {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "header header"
            "languages languages"
            "experience experience"
            "tools tools"
            "education interests"
            "contact contact";
    }

    .educations-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 600px) {
    .resume {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "languages"
            "tools"
            "experience"
            "education"
            "interests"
            "contact";
    }

    .header {
        flex-direction: column;
        gap: 20px;
    }

    .header__greeting {
        min-height: 50px;
    }

    .header__profile-pic {
        width: 100%;
    }
}

@media print {
    .resume {
        width: 100%;
        margin: 0;
        padding: 0;
        box-shadow: none;
    }

    .header__text, .widget, .footer {
        border: 1px solid #000;
    }

    .resume {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "header header header"
            "languages languages tools"
            "experience experience tools"
            "education education interests"
            "contact contact contact";
    }

    .experience__body {
        flex-direction: column;
    }

    .experience__details {
        padding-left: 16px;
    }
}
